<% provide(:title, "Articles") %>

<h1>List of articles:</h1>

<h2>
  <%= "Number of articles: #{articles.count}" %>
</h2>

<% articles.each do |article| %>
	<p>
		<%= link_to article.name, "articles/#{article.id}" %>
		| <%= article.content %>
    | <%= article.picture %>
    | <%= link_to "delete", article, method: :delete %>
	</p>
<% end %>

<%= link_to "Upload new article", 'articles/new' %>
