<% provide(:title, 'Upload article') %>
<h1>Upload article</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@article, html: { multipart:true }) do |f| %>
      # <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :paper %>
      <%= f.text_field :paper, class: 'form-control' %>

      <%= f.label :date %>
      <%= f.text_field :date, class: 'form-control' %>

  		<span class="picture">
    		<%= f.file_field :picture %>
  		</span>

      <%= f.submit "Upload article", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>